mixin navTabs(data)
	+b.navTabs()&attributes(attributes)
		block
		+e.point_active._point1
			+e.header Возможности
			+e.content Lorem ipsum
		+e.point._point2
			+e.header Информация
			+e.content Second Lorem ipsum second
		+e.point._point3
			+e.header Привилегии
			+e.content Third Lorem ipsum Third
