include ../navMenu/navMenu
include ../container/container
include ../navTabs/navTabs
include ../breadcrumbs/breadcrumbs
include ../searchForm/searchForm
include ../logo/logo

mixin main(data)
	+b.MAIN.main()&attributes(attributes)
		block
		+navMenu
			+container
				+logo
				+navTabs
					+breadcrumbs
				+searchForm