// GUI stylies of the project
// For example, styles of the links, buttons and so on.
.menu-button {
    background: black;
    width: 50px;
    height: 50px;
    &__sandwich {
        width: 30px;
        margin-left: 10px;
        margin-top: auto;
        margin-bottom: auto;
        flex-direction: column;
        justify-content: space-between;
        height: 19px;
        background-color: black;
        div {
            height: 2px;
            background: white;
        }
    }
}

.container {
    /*mobile */
    /*tablet and desktop */
    @include above($tablet) {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        background: $gray;
        width: 91%;
        justify-content: space-between;
        align-items: center;
    }
}

.popup-close {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #a8a8a8;
    div {
        position: absolute;
        top: 45%;
        width: 50px;
        height: 5px;
        background: white;
    }
    & div:first-child {
        transform: rotate(45deg);
    }
    & div:last-child {
        transform: rotate(-45deg);
    }
}

.country-container {
    flex-direction: column;
    a {
        text-decoration: none;
    }
    @include above($tablet) {
        flex-direction: row;
    }
}

.online-table-and-register-container {
    a {
        text-decoration: none;
    }
}

.nav-tabs {
    position: relative;
    width: 100%;
    &__point {
        position: absolute;
        width: 100%;
        height: 350px;
        cursor: pointer;
        @include above($desktop) {
            position: static;
            display: flex;
            height: 60px;
        }
    }
    text-align: center;
    @include above($desktop) {
        font-size: 16px;
    }
    &__point_active {
        display: flex;
        flex-direction: column;
        color: red;
        border-right: 1px solid $gray;
        border-bottom: 1px solid red;
        border-left: 1px solid $gray;
        position: relative;
        border-top: 2px solid red;
        border-bottom: 0;
        @include above($desktop) {
            &::after {
                content: "";
                position: absolute;
                top: 53px;
                width: 100%;
                height: 10px;
                background: white;
            }
        }
    }
}

.breadcrumbs {
    &__breadcrumb {
        width: 10px;
        height: 10px;
        border: 1px solid black;
        transform: rotate(45deg);
    }
    &__breadcrumb_active {
        background: black;
    }
}

.search-form-container {
    form {
        position: relative;
        @include above($desktop) {
            display: flex;
        }
        img {
            position: absolute;
            top: 6px;
            right: 5px;
        }
        input {
            box-sizing: border-box;
            width: 100%;
            height: 32px;
            padding-right: 25px;
            padding-left: 5px;
            font-size: 14px;
            border: 1px solid $gray;
            outline: none;
            &::-webkit-input-placeholder {
                font-size: 14px;
            }
            &::-moz-placeholder {
                font-size: 14px;
            }
            /* Firefox 19+ */
            &:-moz-placeholder {
                font-size: 14px;
            }
            /* Firefox 18- */
            &:-ms-input-placeholder {
                font-size: 14px;
            }
        }
    }
}