/* ***** HEADER START ***** */

.header {
    .main-header {
        margin-top: 60px;

        @include above($tablet) {
            margin-top: 0;
        }
    }
    .main-header_standart {
        background: $gray;
    }
    .menu-button {
        margin-left: auto;

        @include above($tablet) {
            display: none;
        }
    }
    .container {
        /*mobile */
        position: absolute;
        // background: #a8a8a8;
        z-index: 2;
        right: 0;

        display: none;
        flex-direction: column;
        width: 80%;
        height: 150px;

        font-size: 20px;
        /*tablet and desktop */

        @include above($tablet) {
            position: static;

            display: flex;
            flex-direction: row;
            height: 41px;

            font-size: 12px;
            font-weight: 700;

            background: none;
        }
        .popup-close {
            left: -50px;
        }
    }
    .container_show {
        display: flex;
    }
    .country-container {
        @include above($tablet) {
            margin-left: 67px;
        }
        &__country-selector {
            @include above($tablet) {
                margin-right: 29px;
            }
        }
    }
    .country-container_original {
        a {
            color: $blue;
        }
    }
    .online-table-and-register-container {
        flex-direction: column;

        @include above($tablet) {
            flex-direction: row;
            margin-right: 67px;
        }
        &__online-table {
            @include above($tablet) {
                position: relative;
                // img {
                //     position: absolute;
                //     top: -3px;
                //     left: -25px;
                // }
                .clock-svg {
                    position: absolute;
                    top: -3px;
                    left: -25px;

                    width: 20px;
                    height: 20px;
                }
            }
        }
        &__register {
            @include above($tablet) {
                margin-left: 15px;
            }
        }
    }
    .online-table-and-register-container_original {
        a {
            color: $blue;
        }
    }
}


/* ***** HEADER END ***** */